[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "dircolors/.dircolors"]
	path = dircolors/.dircolors
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "bash_it/.bash_it"]
	path = bash_it/.bash_it
	url = git@github.com:jtsao22/bash-it.git
